{% extends "base.html" %}

{% block title %}{{ user.username }} - User Details{% endblock %}

{% block content %}
<div class="min-h-screen bg-gray-50 dark:bg-gray-900 py-4 sm:py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        {% include 'partials/admin/user-details/header.html' %}

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-8">
            <!-- User Information -->
            <div class="lg:col-span-1 order-1 lg:order-1">
                {% include 'partials/admin/user-details/user-info.html' %}
            </div>

            <!-- Activity Logs -->
            <div class="lg:col-span-2 order-2 lg:order-2">
                {% include 'partials/admin/user-details/activity-tabs.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
