{% macro get_current_user() %}
    {%- if session.get('user_id') and not config.get('DISABLE_DATABASE', False) -%}
        {%- set user_id = session.get('user_id') -%}
        {%- if user_id -%}
            {{- get_user_by_id(user_id) -}}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% macro get_user_by_id(user_id) %}
    {%- if not config.get('DISABLE_DATABASE', False) -%}
        {%- from app.models.user import User -%}
        {{- User.query.get(user_id) -}}
    {%- endif -%}
{% endmacro %}
